<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Questions Factory Demo</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>
  <title></title>


  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>

<body ng-app="QuestionsFactoryDemo" ng-controller="QuestionCtrl">
<ion-view view-title="Questions">
  <ion-content>
    <div class="row" ng-repeat="question in questions">
      <div class="col-10 qid">{{question.name}}</div>
      <div class="col-60 qstr">{{question.question}}</div>
      <div class="col qtype" ng-show="question.type=='TYPE_TEXT'">
        <input placeholder="Enter value" type="text"/>
      </div>
      <div class="col qtype" ng-show="question.type=='TYPE_YES_NO'">
        <label class="toggle toggle-balanced">
          <input class="item-toggle" type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="col qtype" ng-show="question.type=='TYPE_DATE'">
        <button class="button button-block button-positive" ng-click="openDatePicker()">
          {{ pickedDate | date:'MMM/dd/yyyy' }}
        </button>
      </div>
      <div class="col qtype" ng-show="question.type=='TYPE_CHOICE'">
        <input type="radio" id="rb1" name="rb" value="">
        <label for="rb1">0</label>
        <input type="radio" id="rb2" name="rb" value="">
        <label for="rb2">1</label>
        <input type="radio" id="rb3" name="rb" value="">
        <label for="rb3">2</label>
      </div>
    </div>
  </ion-content>
</ion-view>
</body>
</html>

