.qid, .qstr, .qtype {
  border: thin solid black;
  vertical-align: middle;
  padding: 0.5%;
}

.qid {
  text-align: center;
}

input[type="text"] {
  border: 1px solid black;
  padding-left: 10px;
  width: 95%;
}

input[type=radio]{
  border:0px ;
  width:20%;
  height: 100%;
  vertical-align: middle;
  margin-left: 0;
}
