

tr, td {
  border: thin solid black;
  padding: 0.5%;
  vertical-align: middle;
}

input[type="text"] {
  border: 1px solid black;
  padding-left: 10px;
  width: 90%;
}

input[type=radio]{
  border:0px ;
  width:20%;
  height: 100%;
  vertical-align: middle;
  margin-left: 0;
}
